<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BudgetDB" providerName="SQLite" connectionString="data source=C:\Users\adam.lemberger\source\repos\PersonalBudgetingApplication\BudgetDB.db"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>